/* Container styles */
:root {
  background-color: cyan;
  --total-outer: 534;
  --offset-outer: 0;
  --outer-colour: rgb(211, 139, 211);
  --inner-colour: #f0f0f0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Lato";
}

.rankingChart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
  height: 190px;
  width: 190px;
}

.rankingChart figcaption {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 100px;
  line-height: 50px;
  font-size: 3rem;
}

/* END Container styles */
.rankingChart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.inner {
  fill: transparent;
  stroke: var(--inner-colour);
  stroke-width: 20;
  stroke-dasharray: var(--total-outer);
  transition: stroke-dashoffset 1s;
}

.outer {
  fill: transparent;
  stroke: var(--outer-colour);
  stroke-width: 20;
  stroke-dasharray: var(--total-outer);
  transition: stroke-dashoffset 1s;
}

.rankingChart:hover .outer {
  stroke-dashoffset: var(--total-outer) !important;
}
/* END Circle colors and graphic positions */

/* Set the initial values for the animation */
.rankingChart .outer {
  stroke-dashoffset: var(--offset-outer);
  animation: show 2s;
}

@keyframes show {
  from {
    stroke-dashoffset: var(--total-outer);
  }

  to {
    stroke-dashoffset: var(--offset-outer);
  }
}
