{% extends 'base.html' %}

{% block head %}
<script type=text/javascript src="{{url_for('static', filename='home.js') }}"></script>
{% endblock %}

{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
  <!-- Top of Hero -->
  <div class="hero-head is-align-items-stretch my-6 pb-6">
    <div class="container has-text-centered">
      <br>
      <h1 class="title is-2">
        Welcome to NBA Statistics
      </h1>
      <p class="subtitle is-5">
        Made for NBA fans!
      </p>
    </div>
  </div>

  <!-- Body of Hero -->
  <div class="hero-body is-align-items-stretch my-6 py-6">
    <div class="container has-text-centered">
      <div class="tile is-ancestor">
        <div class="tile is-1 is-parent"></div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title is-4 has-text-primary">
              Search for Statistics based on Players or Teams
            </p>
            <div class="field has-addons">
              <div class="control">
                <span class="select">
                  <select>
                    <option>Player</option>
                    <option>Team</option>
                  </select>
                </span>
              </div>

              <div class="control is-expanded">
                <input class="input" id="Name" type="text" placeholder="">
              </div>
              
              <div class="control">
                <button type="submit" class="button is-primary" onclick="stage()">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-1 is-parent"></div>
      </div>

    </div>
  </div>
</section>


<script>
  autocomplete(document.getElementById("Name"), a);
</script>
{% endblock %}