<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <title> NBA Chart </title>
  </head>
  <body>
    <div>
      <canvas id="myChart"></canvas>
    </div>

  <script>
    let myChart = document.getElementById("myChart");



    let myGraph = new Chart(myChart, {
        type: "bar", //"line"
        data:{
          labels: ['2016','2017','2018','2019','2020','2021'],
          datasets:[{
              label: 'Points',
              backgroundColor: "green",
              borderWidth: 1,
              borderColor: '#777',
              hoverBorderWidth: 3,
              hoverBorderColor: "#777",

              data: [7, 10, 5, 12, 20, 23],
          }]
        },
        options:{
          title:{
            display: true,
            text: "Custom Chart Title"
            
          }
        }

    });

  </script>
  </body>
</html>
