<script type=text/javascript src="{{url_for('static', filename='player.js') }}"></script>
<p>this is the player page</p>

{% extends 'base.html' %}

{% block content %}
    <!-- Player stats table -->
    <div class="container">

        <!-- Search text field -->
        <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="Player name" value="Stephen Curry">
        </div>
        <div class="control">
            <a class="button is-info">
            Search
            </a>
        </div>
        </div>

        <table class="table">
        <thead>
            <tr>
            <th>By Year</th>
            <th>Team</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Minutes Played">MIN</abbr></th>
            <th><abbr title="Points">PTS</abbr></th>
            <th><abbr title="Field Goals Made">FGM</abbr></th>
            <th><abbr title="Field Goals Attempted">FGA</abbr></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <th>By Year</th>
            <th>Team</th>
            <th><abbr title="Games Played">GP</abbr></th>
            <th><abbr title="Minutes Played">MIN</abbr></th>
            <th><abbr title="Points">PTS</abbr></th>
            <th><abbr title="Field Goals Made">FGM</abbr></th>
            <th><abbr title="Field Goals Attempted">FGA</abbr></th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
            <th>2020-21</th>
            <td><a href="https://www.nba.com/stats/team/1610612744/"><abbr title="Golden State Warriors">GSW</abbr></a></td>
            <td>63</td>
            <td>34.2</td>
            <td>32.0</td>
            <td>10.4</td>
            <td>21.7</td>
            </tr>
            <tr>
            <th>2019-20</th>
            <td><a href="https://www.nba.com/stats/team/1610612744/"><abbr title="Golden State Warriors">GSW</abbr></a></td>
            <td>5</td>
            <td>27.9</td>
            <td>20.8</td>
            <td>6.6</td>
            <td>16.4</td>
            </tr>
            <tr>
            <th>2018-19</th>
            <td><a href="https://www.nba.com/stats/team/1610612744/"><abbr title="Golden State Warriors">GSW</abbr></a></td>
            <td>69</td>
            <td>33.8</td>
            <td>27.3</td>
            <td>9.2</td>
            <td>19.4</td>
            </tr>
        </tbody>
        </table>
    </div>

{% endblock %}