{% extends 'base.html' %}

{% block head %}
<script type=text/javascript src="{{url_for('static', filename='player.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='player.css') }}">
<script src="{{url_for('static', filename='sortable.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Player Banner -->
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title" id="playerName"></p>
    <p class="subtitle" id="teamName"></p>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <div class="tile is-parent">
          <!-- Tile 0 -->
          <div class="tile is-child box">
            <img id="imagescr">
          </div>
          <div class="tile is-child box">

            <div>
              <!-- Ranking Chart -->
              <figure class="offensiveChart">
                <figcaption id="off_rank"></figcaption>
                <svg width="200" height="200">
                  <circle
                    class="offensiveInner"
                    cx="95"
                    cy="95"
                    r="85"
                    transform="rotate(-90, 95, 95)"
                  />
                </svg>
                <svg width="200" height="200">
                  <circle
                    class="offensiveOuter"
                    cx="95"
                    cy="95"
                    r="85"
                    transform="rotate(-90, 95, 95)"
                  />
                </svg>
              </figure>
  
            <!-- Ranking Chart -->
            <figure class="defensiveChart">
              <figcaption id="def_rank"></figcaption>
              <svg width="200" height="200">
                <circle
                  class="defensiveInner"
                  cx="95"
                  cy="95"
                  r="85"
                  transform="rotate(-90, 95, 95)"
                />
              </svg>
              <svg width="200" height="200">
                <circle
                  class="defensiveOuter"
                  cx="95"
                  cy="95"
                  r="85"
                  transform="rotate(-90, 95, 95)"
                />
              </svg>
            </figure>
  
            <!-- Ranking Chart -->
            <figure class="rankingChart">
              <figcaption id="rank"></figcaption>
              <svg width="200" height="200">
                <circle
                  class="rankingInner"
                  cx="95"
                  cy="95"
                  r="85"
                  transform="rotate(-90, 95, 95)"
                />
              </svg>
              <svg width="200" height="200">
                <circle
                  class="rankingOuter"
                  cx="95"
                  cy="95"
                  r="85"
                  transform="rotate(-90, 95, 95)"
                />
              </svg>
            </figure>
          </div>
            
          </div>
        </div>
        <div class="tile is-parent">
          <!-- Tile 1 -->

          <div class="tile is-child box">

            <!-- Player stats table -->
            <table class="table is-striped is-hoverable is-fullwidth" id="tableStats" data-sortable>
              <thead>
                <tr class="is-clickable">
                  <th>By Year</th>
                  <th><abbr title="Team">Team</abbr></th>
                  <th><abbr title="Points Per Game">PTS</abbr></th>
                  <th><abbr title="Feild Goal %">FG%</abbr></th>
                  <th><abbr title="Assist Per Game">AST</abbr></th>
                  <th><abbr title="Rebounds Per Game">REB</abbr></th>
                  <th><abbr title="Steals Per Game">STL</abbr></th>
                  <th><abbr title="Blocks Per Game">BLK</abbr></th>
                </tr>
              </thead>
              <tfoot>
                <tr class="is-clickable">
                  <th>By Year</th>
                  <th><abbr title="Team">Team</abbr></th>
                  <th><abbr title="Points Per Game">PTS</abbr></th>
                  <th><abbr title="Feild Goal %">FG%</abbr></th>
                  <th><abbr title="Assist Per Game">AST</abbr></th>
                  <th><abbr title="Rebounds Per Game">REB</abbr></th>
                  <th><abbr title="Steals Per Game">STL</abbr></th>
                  <th><abbr title="Blocks Per Game">BLK</abbr></th>
                </tr>
              </tfoot>
              <tbody id="tableStatsBody">
                <!-- Table Contents go here -->
              </tbody>
            </table>

          </div>
          <!-- Tile 2 -->
          <div class="tile is-child box">
 

        <nav class="level">
          <div class="level-item has-text-centered">
            <button class="button is-danger" onclick="formatRatingTable(1)">Highest Offense</button>
          </div>
          <div class="level-item has-text-centered">
            <button class="button is-warning" onclick="formatRatingTable(2)">Highest Defense</button>
          </div>
          <div class="level-item has-text-centered">
            <button class="button is-link" onclick="formatRatingTable(3)">Highest Overall</button>
          </div>
        </nav>
        <div class="tile is-child box">

          <!-- potential trade table -->
          <table class="table is-striped is-hoverable is-fullwidth" id="tableStats">
            <thead>
              <tr>
                <th>Player Name</th>
                <th>Offensive Rating</th>
                <th>Defensive Rating</th>
                <th>Overall Rating</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Player Name</th>
                <th>Offensive Rating</th>
                <th>Defensive Rating</th>
                <th>Overall Rating</th>
              </tr>
            </tfoot>
            <tbody id="tradeTableBody">
              <!-- Table Contents go here -->
            </tbody>
          </table>

        </div>
      
      </div>

        </div>
        <div class="tile is-parent">
          <!-- Tile 3 -->
          <div class="tile is-child box">

            <!-- Performance Chart -->
            <div class="chartArea">
              <canvas id="myChart"></canvas>
            </div>
            <br>
            <nav class="level">
              <div class="level-item has-text-centered">
                <button class="button is-link" onclick="toggleData(0)">Points</button>
              </div>
              <div class="level-item has-text-centered">
                <button class="button is-danger" onclick="toggleData(1)">Assists</button>
              </div>
              <div class="level-item has-text-centered">
                <button class="button is-warning" onclick="toggleData(2)">Rebounds</button>
              </div>
              <div class="level-item has-text-centered">
                <button class="button is-warning" onclick="toggleData(3)">Steals</button>
              </div>
              <div class="level-item has-text-centered">
                <button class="button is-warning" onclick="toggleData(4)">Blocks</button>
              </div>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}