{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="{{url_for('static', filename='sortable.js') }}"></script>
{% endblock %}

{% block content %}

<style>
  #tab-content div {
    display: none;
  }

  #tab-content div.is-active {
    display: block;
  }
</style>

<!-- Player Banner -->
<section class="hero is-primary">
  <div class="hero-body py-1">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-left">
        <!-- Player photo -->
        <div class="level-item">
          <div>
            <img class="image is-128x128"
              src="{{ 'https://au.global.nba.com/media/img/teams/00/logos/%s_logo.svg'|format(teamInfo['abbreviation']) }}">
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="title is-1 is-spaced">{{ teamInfo['full_name'] }}</p>
            <p class="subtitle">{{ teamInfo['state'] }}</p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section py-3">
  <div class="tabs is-centered is-boxed" id="tabs">
    <ul>
      <li data-tab="1" class="is-active"><a>Statistics</a></li>
      <li data-tab="2"><a>Players</a></li>
    </ul>
  </div>
</section>

<section class="section py-4">
  <div class="container box" id="tab-content">
    <!-- Statistics tab content -->
    <div class="is-active" data-content="1">
      {% include 'team_tabs/statistics.html' %}
    </div>

    <!-- Player list tab content -->
    <div data-content="2">
      {% include 'team_tabs/player_list.html' %}
    </div>

  </div>
</section>

<script src="{{url_for('static', filename='tabs.js')}}"></script>
<script src="{{url_for('static', filename='team.js') }}"></script>
<script type=text/javascript>
    teamPage({{ teamData|tojson }})
</script>

{% endblock %}